@import "../../helpers/variables";

.quotation {
  position: relative;
}

.quotationSpecial {
  height: 230px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 10vw;
  padding: 15px 2px 0;
  position: absolute;
  top: -15vh;
  width: 80vw;
  @media screen and (min-width: 425px) {
    height: 250px;
    top: -20vh;
  }
  @media screen and (min-width: 768px) {
    height: 250px;
    top: -25vh;
  }
  @media screen and (min-width: 1024px) {
    height: 250px;
    top: -15vh;
  }
  & h1,
  p {
    padding: 0 2px;
    text-transform: uppercase;
  }
  &__content {
    font-size: 18px;
    letter-spacing: 2px;
    margin: 30px 0px;
    opacity: 0.5;
    @media screen and (min-width: 425px) {
      font-size: 20px;
    }
  }
  &__heading {
    font-size: 30px;
    letter-spacing: 1px;
    margin: 0;
    @media screen and (min-width: 425px) {
      font-size: 46px;
    }
  }
}
