@import "../../helpers//variables";

.active {
    color: $mainBeige;
    text-decoration:underline;
    text-decoration-style: dotted;
    text-decoration-thickness:0.1rem ;
    text-underline-offset: 0.4rem;
    &:hover {
      color: $mainBeige;
    }
  }
  
  .inactive {
    color: $beigeColor;
    text-decoration: none;
  }
