@import "../../helpers/variables";

.button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#button__icon {
  background-color: $beigeColor;
  border: 0;
  color: #fff;
  margin-top: 24px;
  @media screen and (min-width: 1024px) {
    margin-top: 44px;
  }
  &:hover {
    background-color: #d7b881;
    color: #fff;
  }
}
