@import "../../helpers/variables";

.button {
    background-color: $beigeColor;
    border: 0;
    color:#fff;
    justify-content: end;
    margin-top:24px;
    &:hover {
      background-color: #d7b881;
      color:#fff;
    }
  }