@import "../../helpers//variables";
.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem 16px;
  &__control {
    border: 0;
    border-radius: 0;
    font-size: 1rem;
    outline-color: transparent;
    margin: 6px;
    padding: 6px;
    width: 80%;
    &--message {
      height: 8rem;
    }
  }
  &__heading {
    margin: 2rem 0;
  }
}

.formArea {
  background-color: #e8eddf;
  display: grid;
  padding:0 0 2rem 0;
  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    padding:2rem 10vw;
  }
  &__frame {
    height: 20rem;
    @media screen and (min-width: 1024px) {
      border: 1px solid $beigeColor;
      height: 80%;
      margin: auto;
      padding:0.5rem;
      width: 25vw;
    }
  }
  &__img {
    height: 100%;
    object-fit: cover;
    width: 100%;

  }
}
