@import "../../helpers/variables";

.button {
    display: flex;
    justify-content: end;
    width: 100%;
  }
  
  #button__icon {
    background-color: $beigeColor;
    border: 0;
    color: #fff;
    margin-top: 24px;
    &:hover {
      background-color: #d7b881;
      color: #fff;
    }
  }

  .cakesQuotation {
    background-color: $lightGrey;

  }
  .mainContent__frame {
    box-shadow: 0 0 10px 0 rgba(41,51,65,.15);
    height: 20rem;
  }

  .mainContent__img {
    height: 100%;
    object-fit:cover;
    object-position: center;
    opacity: 0.6;
    width: 100%;

  }
