@import "../../helpers/variables";
.formQuotation {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    &__control {
      border: 0;
      border-radius: 0;
      font-size: 1rem;
      outline-color: transparent;
      margin: 6px;
      padding: 6px;
      width: 80%;
      &--message {
        height: 8rem;
      }
      &--file {
  font-size: 0.9rem;
      }
    }
    &__heading {
      margin: 2rem 0;
    }
    &__info {
      font-size: 0.8rem;
      text-align: left;
      width:80%;
    }
  }

.formQuotationArea {
    background-color: #f1f1f1;
    display: grid;
    padding:70px 0 2rem 0;
    position: relative;
    top:-150px;
    @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr;
      padding:100px 10vw;
    }
    &__frame {
      display: none;
      @media screen and (min-width: 1024px) {
        border: 1px solid $beigeColor;
        display: block;
        height: 80%;
        margin: 0 auto;
        padding:0.5rem;
        width: 30vw;
      }
    }
    &__img {
      display: none;
      @media screen and (min-width: 1024px) {
        display: block;
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
      }

  
    }
  }
  