@import "../../../helpers/variables";

.carousel-indicators  [data-bs-target] {
 background-color:$beigeColor;
}

.carousel {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
  background-size: cover;
  max-height: 50vh;
  @media screen and (min-width:768px) {
    max-height: 60vh;
  }
}

.carousel-item {
  transform: translateY(0px);
  @media screen and (min-width:425px) {
    transform: translateY(-30px);
  }
  @media screen and (min-width:768px) {
    transform: translateY(-170px);
  }
}


.header h3 {
  text-transform: uppercase;
  font-size: 3rem;
  &__img {
    object-fit: cover;
  }
}
