@import "../../../helpers/variables";
.header {
    // height: 30vh;
    &__img {
        background-size: cover;
        height: 50vh;
    }
}

.header h3 {
    font-size:2.5rem;
    text-transform: uppercase;
}
