@import "../../helpers/variables";

.loadingButton {
  display: flex;
  justify-content: end;
  width: 100%;
  &__icon {
    background-color: $beigeColor;
    border: 0;
    color:#fff;
    margin-top:24px;;
    &:hover {
      background-color: #d7b881;
      color:#fff;
    }
  }
} 