@import "../../helpers/variables";
.contact {
  display: flex;
  justify-content: center;
  &__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px 16px 6px 6px;
  }
  &__border {
    border-top: 1px solid $mainBeige;
  }
  &__iframe {
    margin: 0 auto;
    width: 90vw;
    height: 350px;
    @media screen and (min-width: 768px) {
      width: 80vw;
    }
    @media screen and (min-width: 1024px) {
      margin: auto;
      width: 35vw;
      height: 400px;
    }
  }
  & a {
    color: $fontColor;
    &:hover {
      color: $darkBeige;
    }
  }
  &__heading {
    margin: 2rem 0;
    text-align: center;
    text-transform: uppercase;
  }
  &__list {
    font-size: 1rem;
    line-height: 2rem;
    list-style: none;
    margin-bottom: 1.5rem;
    padding: 0;
    &--special {
      display: block;
    }
  }
  &__name {
    margin: 2rem 0;
  }
  &__section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 16px;
    text-align: left;
    @media screen and (min-width: 768px) {
      width: 80%;
    }
    @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__tel {
    margin-bottom: 2rem;
  }
}
