@import "../../helpers//variables";
.main {
  margin-top: 75px;
  @media screen and (min-width: 1024px) {
    margin-top: 120px;
  }
  &__border {
    border-top: 2px solid $mainBeige;
  }
  &__description {
    font-size: 17px;
    text-align: start;
    margin: 1rem;
    padding: 4rem 0.25rem;
    @media screen and (min-width: 500px) {
      font-size: 20px;
    }
  }
  &__feedback {
    column-gap: 6px;
    display: grid;
    grid-template-columns: 1fr;
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__heading {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    margin: 2rem 6px;
    text-transform: uppercase;
    @media screen and (min-width: 425px) {
      font-size: 2rem;
    }
  }
  &__extra {
    display: flex;
    font-size: 1.2em;
    justify-content: center;
  }
  &__opinion {
    background-image: url("../../assets/bcg16__blurxxl.png");
    background-size: cover;
    background-color: $beigeColor;
    // height: 65vh;
    padding: 4rem 6px;
    & h2 {
      color: $mainBeige;
      font-size: 1.8rem;
      margin: 12px 6px;
      text-transform: uppercase;
    }
  }
  &__section {
    margin: 0 auto;
    padding: 0;
    @media screen and (min-width: 1024px) {
      margin: 0 5vw;
      padding: 0;
    }
    @media screen and (min-width: 1300px) {
      margin: 0 10vw;
    }
    &--1 {
      margin-top: 5rem;
      @media screen and (min-width: 768px) {
        margin-top: 10rem;
      }
    }
    &--2 {
      padding-top: 0;
    }
  }
}


.star {
  color: $fontColor;
  opacity: 0.8;
}

.myOwnCarousel {
  align-items: flex-start;
  display: flex;
  height: 35vh;
  margin:4rem 6px 0;
  @media screen and (min-width: 425px) {
    height: 25vh;
  }
  @media screen and (min-width: 768px) {
    height: 15vh;
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.main__opinion .noCarousel {
  display: none;
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:4rem;
  }
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: $fontColor;
}

.main__opinion .carousel-inner {
  align-items: center;
  display: flex;
  height: 100%;
  overflow: visible;
  padding: 30px 0;
}