@import "../../helpers//variables";
.main {
    background-image: url("../../assets/bcg5.jpg");
    background-size: cover;
    &__border {
        border-top: 2px solid $mainBeige;
    }
    &__description {
        text-align: justify;
    }
    &__heading {
        font-family: 'Parisienne', cursive;
        font-size:3rem;
        letter-spacing: 1.5px;
        margin: 16px 6px;
    }
    &__extra {
        display: flex;
        font-size: 1.2em;
        justify-content: center;
    }
    &__section {
        margin: 0 auto;
        @media  screen and (min-width: 768px) {
            width: 80vw;
            
        }
    }


}