@import "../../helpers//variables";
.main {
  margin-top:130px;
  &__border {
    border-top: 2px solid $mainBeige;
  }
  &__description {
    text-align: justify;
  }
  &__heading {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    margin: 2rem 6px;
    text-transform: uppercase;
    @media screen and (min-width: 425px) {
      font-size: 2rem;
    }
  }
  &__extra {
    display: flex;
    font-size: 1.2em;
    justify-content: center;
  }
  &__section {
    margin: 0 auto;
    padding-top: 3rem;
    @media screen and (min-width: 768px) {
      width: 80vw;
    }
  }
}
