$mainBeige:  #9C7C52 ;
$fontColor: rgba(56, 60, 80, 0.8);
$semiBeige:#c99b72;
$beigeColor: #d8c097;
$darkBeige:#493c37;
$green:#31572c;
$lightGreen: #4f772d;
$lightBeige: #fefae0;
$greenDark: #415d43;
$pink:rgba(199,142,131,1);
$headingColor: rgba(89,102,110,1);
$lightGrey: #f1f1f1;