@import "../../helpers/variables";

.myCard {
  border: 1px solid #d8c097;
  padding: 0.5rem;
  overflow: hidden;
  width: 100%;
  color: #141414;
  text-align: left;
  text-decoration: none;
  line-height: 1.4em;
  font-size: 16px;
  @media screen and (min-width: 1024px) {
    position: relative;
  }
  &__body {
    left: -0.05rem;
    border: none;
    color: $fontColor;
    padding-top: 8px;
  }
  & * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  &__img {
    box-shadow: 0 0 10px 0 rgba(41,51,65,.15);
  }
  & img {
    max-width: 100%;
    vertical-align: top;
  }
  & figcaption {

    @media screen and (min-width: 1024px) {
      position: absolute;
      top: calc(75%);
      width: 100%;
      background-color: #ffffff;
      padding: 15px 25px 65px;
  
    }
    @media screen and (min-width: 1200px) {
      top: calc(81%);
    }
    &:before {
      position: absolute;
      content: "";
      z-index: 2;
      bottom: 95%;
      left: -0.5rem;
      width: 100%;
      height: 80px;
      background-image: -webkit-linear-gradient(
        top,
        transparent 0%,
        #ffffff 100%
      );
      background-image: linear-gradient(
        to bottom,
        transparent 0%,
        #ffffff 100%
      );
    }
  }
  & h3 p {
    margin: 0 0 5px;
  }
  & h3 {
    font-weight: 300;
    line-height: 1.2em;
    font-family: "Oswald", Arial, sans-serif;
    margin: 3% 0;
    text-transform: uppercase;
    @media screen and (min-width: 769px) {
      margin: 5% 0 10%;
    }
  }
  & p {
    font-size: 0.9em;
    opacity: 0.9;
  }
  & a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  &:hover figcaption {
    @media screen and (min-width: 1024px) {
      top: 30%;
    }
    @media screen and (min-width: 1200px) {
      top: 40%;
    }
    @media screen and (min-width: 1500px) {
      top: 55%;
    }
  }
  &.hover figcaption {
    top: 60%;
  }
}
