@import "../../helpers/variables";

.sweetTable {
  margin-top:140px;
  &__bcg {
    align-items: center;
    background-image: url("../../assets/bcg17.jpeg");
    background-size: cover;
    display: flex;
    font-size: 3rem;
    height: 10rem;
    justify-content: center;
    object-fit: cover;
    text-transform: uppercase;
  }
  &__border {
    border-top: 1px solid $mainBeige;
  }
  &__button {
    background-color: $beigeColor;
    border: 0;
    justify-content: end;
    margin-top:24px;
    &:hover {
      background-color: #d7b881;
    }
  }
  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 40px 10vw;
    position: static;
    @media screen and (min-width: 1024px) {
      align-items: start;
      position: relative;
    }
    &--frame {
      display: none;
      @media screen and (min-width: 1024px) {
        border: 1px solid #d8c097;
        display: flex;
        height: 100%;
        padding: 0.5rem;
        width: 60%;
      }
    }
  }
  &__description {
    font-size: 1rem;
    margin-top:40px;
    text-align: justify;
    @media screen and (min-width: 1024px) {
      font-size: 0.9rem;
    }
  }
  &__gallery {
    background-color: #fefae0;
  }
  &__heading {
    text-transform: uppercase;
    margin: 2rem;
  }
  &__text {
    background: rgba(255, 255, 255, 0.8);
    left: 30%;
    position: static;
    top: 15%;
    @media screen and (min-width: 1024px) {
      left: 20%;
      font-size: 0.9rem;
      padding: 2rem;
      position: absolute;
      top: 10%;
    }
    @media screen and (min-width: 1200px) {
      top: 7%;
    }
    @media screen and (min-width: 1300px) {
      font-size: 1rem;
      top: 10%;
    }
    @media screen and (min-width: 1400px) {
      left: 40%;
      font-size: 1.5rem;
      top: 23%;
      width: 60%;
    }
  }
}

.gallery {
  background-color: #f1f1f1;
  padding: 40px 10vw 60px;
  &__box {
    display: grid;
    column-gap: 6px;
    row-gap: 6px;
    grid-template-columns: 1fr;
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &__frame {
    border: 1px solid #d8c097;
    display: flex;
    height: 100%;
    padding: 0.5rem;
    & img {
      object-fit: cover;
    }
  }
  &__heading {
    margin-bottom: 40px;
  }
}
