@import "../../helpers/variables";

.wedding {
  &__border {
    border-top: 1px solid $mainBeige;
  }
  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 40px 10vw;
    position: static;
    @media screen and (min-width: 1024px) {
      align-items: start;
      position: relative;
    }
  }
  &__description {
    font-size: 1rem;
    margin-top:40px;
    text-align: justify;
    @media screen and (min-width: 1024px) {
      font-size: 0.9rem;
    }
  }
  &__gallery {
    background-color: #fefae0;
  }
  &__heading {
    text-transform: uppercase;
    margin: 2rem;
  }
  &__text {
    background: rgba(255, 255, 255, 0.8);
    position: static;
    top: 15%;
    @media screen and (min-width: 1024px) {
      left: 20%;
      font-size: 0.9rem;
      padding: 2rem;
      position: absolute;
      top: 10%;
      width: 85%;
    }
    @media screen and (min-width: 1200px) {
      left: 30%;
      top: 7%;
      width: 75%;
    }
    @media screen and (min-width: 1300px) {
      font-size: 1rem;
      top: 15%;
    }
    @media screen and (min-width: 1400px) {
      top: 23%;
    }
  }
}

