@import "../../helpers/variables";

.feedback {
    min-width: 30vw;
max-width: 200px;

    &__text {
        font-size: 0.9rem;
        font-style: italic;
       line-height: 1.5rem;
       margin: 1rem 0;
    }
}