@import "../../helpers/variables";

.footer {
    background-color: $darkBeige;
    padding:16px 6px 1px 6px;
    text-align: left;
    &__article {
        display:grid;
        justify-content: center;
        margin:0 26px;
        @media screen and (min-width:768px) {
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (min-width:1023px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
    &__author {
        border-top:1px solid $mainBeige;
        font-size: 0.8rem;
        text-align: center;
    }
    &__contact {
        text-align: left;
    }
    &__container {
        text-align: center;
        @media screen and (min-width:768px) {
            text-align: left;
        }
    }
    &__list {
        font-size: 0.9rem;
        list-style: none;
    }
    &__logo {
        border-radius: 50%;
        max-width: 30%;
        @media screen and (min-width:768px) {
            max-width: 50%;
        }
    }
    &__special {

        letter-spacing: 1px;
        text-transform: uppercase;
        margin:0px;
        &--margin {
            margin-top:40px;
            @media screen and (min-width:768px) {
                margin-top:70px;  
            }
        }
    }
}

.footer a {
    color:#fff;
}

.footer h5 {
    font-size: 1.5rem;
    font-weight: 600;
    color:$mainBeige;
}