@import "../../helpers/variables";

.footer {
  background-color: $darkBeige;
  color: #fff;
  padding: 26px 0 1px;
  text-align: left;

  &__article {
    display: flex;
    flex-direction: column;
    margin: 0 26px;
    padding: 16px 0;
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0;
      width: 80vw;
      margin: 0 auto;
    }
    @media screen and (min-width: 1023px) {
      grid-template-columns: 1fr 2fr 2fr 1fr;
    }
  }
  &__author {
    border-top: 1px solid $mainBeige;
    font-size: 0.8rem;
    text-align: center;
  }
  &__contact {
    margin-bottom: 1.5rem;
  }
  &__container {
    text-align: center;
    @media screen and (min-width: 768px) {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    @media screen and (min-width: 1024px) {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__list {
    font-size: 0.9rem;
    list-style: none;
    margin-bottom: 1.5rem;
    padding: 0;
    &--special {
      display: block;
    }
  }
  &__logo {
    border-radius: 50%;
    margin: 0 0 32px;
    width: 30%;
    @media screen and (min-width: 1024px) {
      width: 50%;
      margin-bottom: 0;
    }
  }
  &__owner {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  &__special {
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0px;
    &--margin {
      margin-top: 1.5rem;
      @media screen and (min-width: 768px) {
        margin-top: 2.5rem;
      }
    }
  }
}

.footer a {
  color: #fff;
}

.footer h5 {
  font-size: 1.5rem;
  font-weight: 600;
  color: $mainBeige;
  text-transform: uppercase;
  margin: 0;
}
