@import "../../helpers/variables";

.extraContent {
background-color: $mainBeige;
color: $beigeFontColor;
display:flex;
justify-content: space-between;

}

.extraContent a:hover {
    font-size: 105%;
}


