@import "../../helpers/variables";

.extraContent {
background-color: #fff;
border-bottom: 1px solid $beigeColor;
display:flex;
font-size: 1rem;
justify-content: space-between;
position:fixed;
top:0;
width: 100%;
z-index: 6;
}

.extraContent a {
    color:$mainBeige;
}

.extraContent a:hover {
    font-size: 105%;
    color: $greenDark;
}


