@import "../../helpers/variables";

.extraContent {
background-color: $mainBeige;
display:flex;
justify-content: space-between;
&__tel {
    font-weight: 600;
}
}

.extraContent:hover {
    font-size: 105%;
}


