@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:wght@400;600&display=swap');
@import "./helpers/variables";
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  color: $fontColor;
  text-align: center;
}

a:link {
  color:$fontColor;
  cursor: pointer;
  text-decoration: none;
}
