@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@400;600&family=Quattrocento&display=swap');
@import "./helpers/variables";

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  color: $fontColor;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  height: 100vh;
  line-height: 1.6;
}

a:link {
  color:#fff;
  cursor: pointer;
  text-decoration: none;
}
