@import "../../helpers/variables";

.button {
  display: absolute;
}
.mainContent {
  position: relative;
  &__bcg {
    align-items: center;
    background-image: url("../../assets/bcg17.jpeg");
    background-size: cover;
    display: flex;
    font-size: 3rem;
    height: 10rem;
    justify-content: center;
    object-fit: cover;
    text-transform: uppercase;
  }
  &__border {
    border-top: 1px solid $mainBeige;
  }
  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0 30px;
    padding: 100px 0 30px;
    @media screen and (min-width: 425px) {
        padding: 100px 0 30px;
      }
    @media screen and (min-width: 768px) {
      padding: 60px 0;
    }
    @media screen and (min-width: 1024px) {
      margin: 110px 10vw;
      align-items: start;
      padding: 0;
      position: relative;
    }
    &--frame {
      display: none;
      @media screen and (min-width: 1024px) {
        border: 1px solid $beigeColor;
        display: flex;
        height: 100%;
        padding: 0.5rem;
        width: 50%;
      }
      @media screen and (min-width: 1250px) {
        width: 40%;
      }
    }
  }
  &__description {
    font-size: 1rem;
    text-align: justify;
    margin-top: 40px;
    padding-left: 12px;
    width: 100%;
    @media screen and (min-width: 1024px) {
      font-size: 0.9rem;
      padding-left: 0;
    }
    @media screen and (min-width: 1400px) {
      margin-right: 0;
    }
  }
  &__extra {
    margin: 0px auto 30px;
    color: #d8c097;
    font-size: 1em;
    text-transform: uppercase;
    white-space: nowrap;
    @media screen and (min-width: 425px) {
      font-size: 1.2em;
    }
    @media screen and (min-width: 1024px) {
        margin: 30px auto;
      }
    &::before {
      display: none;

      @media screen and (min-width: 375px) {
        display: inline-block;
        margin: 0 1rem 0 0;
      }
    }
    &::after {
      display: none;
      @media screen and (min-width: 375px) {
        display: inline-block;
        margin: 0 0 0 1rem;
      }
    }
    &::before {
      display: none;
      @media screen and (min-width: 375px) {
        display: inline-block;
        width: 30px;
        height: 1px;
        vertical-align: middle;
        background: #d8c097;
        content: "";
      }
    }
    &::after {
      display: none;
      @media screen and (min-width: 375px) {
        display: inline-block;
        width: 30px;
        height: 1px;
        vertical-align: middle;
        background: #d8c097;
        content: "";
      }
    }
  }
  &__gallery {
    background-color: $lightBeige;
  }
  &__heading {
    text-transform: uppercase;
    margin: 2rem;
  }
  &__text {
    background: rgba(255, 255, 255, 0.8);
    left: 30%;
    margin: 0 auto;
    position: static;
    top: 15%;
    width: 80vw;
    z-index: 3;
    @media screen and (min-width: 1024px) {
      left: 30%;
      font-size: 1.3rem;
      height: 86%;
      padding: 2rem;
      padding-right: 0;
      position: absolute;
      top: 8%;
      width: 70%;
    }
    @media screen and (min-width: 1200px) {
      font-size: 1.3rem;

      left: 30%;
      top: 10%;
      width: 70%;
    }
    @media screen and (min-width: 1300px) {
      left: 30%;
      font-size: 1.5rem;

      padding-right: 0;
      top: 10%;
      width: 70%;
    }
    @media screen and (min-width: 1400px) {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      left: 40%;
      top: 0;
      width: 60%;
    }
  }
}


.special {
    height: 230px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 10vw;
    padding: 0 6px;
    position: absolute;
    top: -17vh;
    width: 80vw;
    @media screen and (min-width: 425px) {
      height: 250px;
      top: -20vh;
    }
    @media screen and (min-width: 1024px) {
      height: 250px;
      top: -35vh;
    }
    @media screen and (min-width: 1440px) {
        top: -40vh;
      }
    & h1,
    p {
      text-transform: uppercase;
    }
    &__content {
      font-size: 18px;
      letter-spacing: 2px;
      margin: 40px 0px 30px;
      opacity: 0.5;
      @media screen and (min-width: 425px) {
        font-size: 20px;
      }
    }
    &__heading {
      font-size: 30px;
      letter-spacing: 1px;
      margin: 0;
      padding: 0 6px;
      @media screen and (min-width: 425px) {
        font-size: 46px;
      }
    }
  }